:root{
--darkbg: linear-gradient(315deg, #07145a 0%, #040328 64%);
--lightbg: #fafafa;
--lighttext: #000;
--darktext: #fafafa;
--darknavbg: #040328;
--lightnavbg: #fafafa;
--darksidebg: #070541;
--lightsidebg: #fff;
--lightblurbg: rgba(0,0,0,0.05);
--darkblurbg: rgba(255,255,255,0.08);
--cardshdark:0px 1px 4px 0px #bbbbbb;
--cardshlight:0px 1px 5px 0px #a4a4a4;
--darkformbg: #1a214d;
--lightformbg: #e0e0e0;
--searchdbg: #060433;
--searchlbg: #fff;
--dblurtext: #a3acc4;
--lblurtext: #5d616f;
}
.light-theme{
--bg: var(--lightbg);
--text: var(--lighttext);
--navbg: var(--lightnavbg);
--sidebg: var(--lightsidebg);
--blurbg: var(--lightblurbg);
--cardsh: var(--cardshlight);
--formbg: var(--lightformbg);
--searchbg: var(--searchlbg);
--blurtext: var(--lblurtext);
}
.dark-theme{
--bg: var(--darkbg);
--text: var(--darktext);
--navbg: var(--darknavbg);
--sidebg: var(--darksidebg);
--blurbg: var(--darkblurbg);
--cardsh: var(--cardshdark);
--formbg: var(--darkformbg);
--searchbg: var(--searchdbg);
--blurtext: var(--dblurtext);
}


html{
scroll-behavior: auto !important;
accent-color: #f92a71;
}

body {
margin: 0;
padding: 0;
box-sizing: border-box;
background: var(--bg);
background-attachment: fixed;
color: var(--text);
height: 100vh;
width: 100vw;
overflow-x: hidden;
font-family: Arial;
accent-color: #f92a71;
}
.body > *:not(.sidebar) { 
filter: blur(8px);
}
.display > *:not(#search-box) { 
filter: blur(8px);
}

a{
user-select: none;
}

.loader{
opacity: 0;
}

h1,h2,h3,h4,h5,h6{
margin: 0;
padding: 0;
}
::selection{
background: #f92a71;
color: #fff;
}
.card-icon{
user-select: none !important;
}

#to-click{
position: absolute;
z-index: -99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
opacity: 0;
}

/* navbar */
.nav2{
width: 100%;
box-shadow: 0px 0px 4px 0px #585858;
padding: 20px 0px;
display:flex;
align-items:center;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 9999999;
background: var(--navbg);
user-select: none;
}
.nav-left{
margin-left: 15px;
width: 100%;
display:flex;align-items:center;
justify-content: flex-start;
}
.nav-right{
margin-right: 15px;
width: 100%;
display:flex;align-items:center;
justify-content: flex-end;
}


.nav2 h2{
font-size: 24px;
font-weight: 500;
margin-left: 5px;
}


.nav-left h3{
font-size: 28px;
color: #f92a71;
}
.nav2 h2 span{
margin: 0;	
padding: 0;		
word-spacing: 0px;
}
.nav2 #menu{
font-size: 28px;
}
.nav2 #search{
font-size: 25px;
margin-right: 16px;
font-weight: 800 !important;
}
.nav2 #toggle{
font-size: 24px;
margin-right: 16px;
}





/* sidebar */
.sidebar{
width: 250px;
background: var(--sidebg);
position: fixed;
top: 0;
right: -100%;
z-index: 9999999999999999;
height: 100vh;
transition: right 0.3s;
overflow-x: hidden;
user-select: none;
box-shadow: 0px 0px 0.8px var(--text);
display:flex;align-items:center;justify-content: flex-start; 
flex-direction: column;
overflow-y: visible;
}

.sidebar a{
display:flex;align-items:center;justify-content:center; 
margin-right: 10px;
align-self: flex-end;
margin-bottom: 1.5rem;
text-decoration: none;
color: var(--text);
}
.sidebar a h3{
font-size: 17px;
font-weight: 401;
}
.sidebar a i{
font-size: 24px;
font-weight: 100;
color: var(--blurtext);
opacity: 0.6;
margin-left: 16px;
padding: 4px;
border-radius: 3px;
background: var(--bg);
box-shadow: 0px 1px 0.8px 1px var(--blurbg);
}
#side-hr{
width: 100%;
height: 2px;
outline: none;
margin: 0;
padding: 0;
background: var(--blurbg);
margin-bottom: 1rem;
margin-top: 0.5rem;
}
#py{
margin-right: 25px;
color: var(--blurtext);
}
#py h3{
font-size: 15px !important;
}


.head-link{
padding-top: 1.8rem;
opacity: 0.9;
color: var(--text) !important;
text-decoration: overline !important;
margin-right: 15px !important;
font-size: 16px !important;
}

nav{
margin: 0;
padding: 0;
width: 100%;
display:flex;align-items:center;justify-content: flex-start; 
flex-direction: column;
padding-top: 2rem;
}

.active{
opacity: 1 !important;
color: #f92a71 !important;
}
.active i{
opacity: 1 !important;
color: #f92a71 !important;
}


/* search-box */
#search-box{
width: 92%;
border-radius: 8px;
background: var(--searchbg);
position: fixed;
z-index: 99999999999999999;
transform: translate(-50%,-50%);
left: 50%;
top: 140px;
box-shadow: var(--cardsh);
padding: 3px 0px;
color: var(--blurtext);
display: none;
}
#search-head{
width: 100%;
display:flex;align-items:center;justify-content:center; 
height: 45px;
}
#search-head span{
font-size: 22px;
padding: 0px 10px;
color: ;
}
#search-box form{
width: 100%;
}
#search-head input{
outline: none;
color: var(--text);
caret-color: var(--text);
width: 100%;
height: 100%;
border: none;
background: transparent;
font-size: 17px;
padding-right: 1rem;
}

#search-foot{
width: 100%;
display:flex;
align-items: flex-start;
justify-content: center; 
flex-direction: column;
font-size: 12px;
margin-top: 0.5rem;
}
#search-foot h2{
font-weight: 400;
font-size: 15.5px;
margin: 0.4rem 0px 0.8rem 1rem;
display:flex;align-items:center;justify-content:center; 
}
#search-foot span{
margin:0px 1.3rem 0px 0px;				
font-size: 22px;
padding: 0;
user-select: none;
}
#search-foot p{
position: absolute;
background: transparent;
border-top: 3px solid var(--text);
border-right: 3px solid var(--text);
border-left: 3px solid var(--text);
border-bottom: 3px solid transparent;
right: 1rem;
bottom: 1.2rem;
padding: 8px;
border-radius: 100%;
opacity: 0;
animation: search-spin 1s linear infinite;
}
@keyframes search-spin{
100%{
transform: rotate(360deg);
}		
}

::placeholder{
color: var(--blurtext);
}




/* main section css srarting */

section{
padding-top: 7rem;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 3rem;
border-bottom: 0.1px solid var(--blurtext);
}
section #sec-head{
font-size: 16px;
font-weight: 500;
color: #f92a71;
}
section #sec-head-two{
font-size: 28px;
margin-top: 18px;
}
section #sec-p{
font-size: 15.5px;
margin-top: 8px;
font-weight: 400;
line-height: 1.6;
color: var(--blurtext);
}







#cdn-links{
width: 100%;
border-radius: 6px;
padding: 15px 0px 2px 0px;
margin: 1.5rem auto 0px auto;
background: var(--blurbg);
user-select: none;
}
#cdn-links span{
display:flex;align-items:center;
padding: 0.7rem 15px;
margin-bottom: 0.5rem;
display:flex;align-items:center;
}
#cdn-links .cdn-b{
border-bottom: 0.1px solid var(--blurtext);
}

#cdn-links span h3{
font-size: 15px;
font-weight: 500;
width: 10px;
margin-right: 6rem;
}
#cdn-links span h4{
font-size: 15px;
font-weight: 500;
word-break: break-word;
}
.link{
font-size: 14px;
font-weight: 400 !important;
color: #00b5f9;
user-select: all;
}




#c-p{
width: 100%;
border-radius: 6px;
padding: 15px 0px 2px 0px;
margin: 1.5rem auto 0px auto;
}
#c-p span{
display:flex;align-items:center;
padding: 0.7rem 15px;
margin-bottom: 0.5rem;
}
#c-p .c-b{
border-bottom: 0.1px solid var(--blurtext);
}

#c-p span h3{
font-size: 15px;
font-weight: 500;
width: 80%;
margin-right: 1rem;
}
#c-p span h4{
font-size: 15px;
font-weight: 500;
word-break: break-word;
width: 100%;
}
.cp-name{
font-weight: 401 !important;
color: #00b5f9 !important;
}
.cp-link{
font-weight: 400 !important;
color: #f92a71 !important;
}
.cp-link .c-block{
width: 100px;
padding: 5px 0px;
border: 0.1px solid var(--blurtext);
user-select: none;
}

.cp-link .c-font-block{
width: 100px;
padding: 5px 0px;
border: 0.1px solid var(--blurtext);
user-select: none;
font-size: 22px;
font-weight: 500;
background: transparent;
display:flex;align-items:center;justify-content:center; 
}


@media(min-width:800px){
#c-p span h3{
width: 40%;
}				
}



#installation h2{
margin-top: 3rem;
font-size: 18px;
line-height: 1.4;
font-weight: 401;
}
#installation h5{
margin-top: 0.4rem;
margin-bottom: 2rem;
font-weight: 400;
font-size: 16px;
color: var(--blurtext);
}
#installation article{
background: #f92a71;
color: #fff;
padding: 10px 20px;
font-size: 15px;
font-weight: 500;
border-radius: 3px;
display: inline-block;
}



@media(min-width:600px){
section{
padding-top: 7rem;
padding-left: 50px;
padding-right: 50px;
}				
}
@media(min-width:800px){
section{
padding-top: 7rem;
padding-left: 70px;
padding-right: 70px;
}			
}
@media(min-width:1200px){
section{
padding-top: 7rem;
padding-left: 90px;
padding-right: 90px;
}				
}




#blue{
color: #f473b6;
}
#blur{
color: #7f8c9e;
}
#pink{
color: #00b5f9;
}
#fff{
color: #fff;
font-family:Arial;
}

#step-one-code{
background: #05042e;
width: 100%;
border-radius: 6px;
padding: 15px 0px;
margin-top: 2rem;
line-height: 28px;
box-shadow:0px 0px 4px #6c7181;
font-size: 15px;
letter-spacing: 0.5px;
word-spacing: 1px;
position: relative;
overflow: hidden;
flex-wrap: wrap;
word-break: break-word;
}
#step-code-one{
margin: 0px auto;
width: 90%;
}
