*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth}}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}

.col{flex:1 0 0%}.row-cols-auto>*{flex:0 0 auto;width:auto}.row-cols-1>*{flex:0 0 auto;width:100%}.row-cols-2>*{flex:0 0 auto;width:50%}.row-cols-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-4>*{flex:0 0 auto;width:25%}.row-cols-5>*{flex:0 0 auto;width:20%}.row-cols-6>*{flex:0 0 auto;width:16.6666666667%}.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}




.hover\:col-auto:hover{flex:0 0 auto;width:auto}
.hover\:col-1:hover{flex:0 0 auto;width:8.33333333%}
.hover\:col-2:hover{flex:0 0 auto;width:16.66666667%}
.hover\:col-3:hover{flex:0 0 auto;width:25%}
.hover\:col-4:hover{flex:0 0 auto;width:33.33333333%}
.hover\:col-5:hover{flex:0 0 auto;width:41.66666667%}
.hover\:col-6:hover{flex:0 0 auto;width:50%}
.hover\:col-7:hover{flex:0 0 auto;width:58.33333333%}
.hover\:col-8:hover{flex:0 0 auto;width:66.66666667%}
.hover\:col-9:hover{flex:0 0 auto;width:75%}
.hover\:col-10:hover{flex:0 0 auto;width:83.33333333%}
.hover\:col-11:hover{flex:0 0 auto;width:91.66666667%}
.hover\:col-12:hover{flex:0 0 auto;width:100%}}




@media (min-width:576px){.col-sm{flex:1 0 0%}.row-cols-sm-auto>*{flex:0 0 auto;width:auto}.row-cols-sm-1>*{flex:0 0 auto;width:100%}.row-cols-sm-2>*{flex:0 0 auto;width:50%}.row-cols-sm-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-sm-4>*{flex:0 0 auto;width:25%}.row-cols-sm-5>*{flex:0 0 auto;width:20%}.row-cols-sm-6>*{flex:0 0 auto;width:16.6666666667%}

.sm\:col-auto{flex:0 0 auto;width:auto}
.sm\:col-1{flex:0 0 auto;width:8.33333333%}
.sm\:col-2{flex:0 0 auto;width:16.66666667%}
.sm\:col-3{flex:0 0 auto;width:25%}
.sm\:col-4{flex:0 0 auto;width:33.33333333%}
.sm\:col-5{flex:0 0 auto;width:41.66666667%}
.sm\:col-6{flex:0 0 auto;width:50%}
.sm\:col-7{flex:0 0 auto;width:58.33333333%}
.sm\:col-8{flex:0 0 auto;width:66.66666667%}
.sm\:col-9{flex:0 0 auto;width:75%}
.sm\:col-10{flex:0 0 auto;width:83.33333333%}
.sm\:col-11{flex:0 0 auto;width:91.66666667%}
.sm\:col-12{flex:0 0 auto;width:100%}}




@media (min-width:768px){.col-md{flex:1 0 0%}.row-cols-md-auto>*{flex:0 0 auto;width:auto}.row-cols-md-1>*{flex:0 0 auto;width:100%}.row-cols-md-2>*{flex:0 0 auto;width:50%}.row-cols-md-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-md-4>*{flex:0 0 auto;width:25%}.row-cols-md-5>*{flex:0 0 auto;width:20%}.row-cols-md-6>*{flex:0 0 auto;width:16.6666666667%}

.md\:col-auto{flex:0 0 auto;width:auto}
.md\:col-1{flex:0 0 auto;width:8.33333333%}
.md\:col-2{flex:0 0 auto;width:16.66666667%}
.md\:col-3{flex:0 0 auto;width:25%}
.md\:col-4{flex:0 0 auto;width:33.33333333%}
.md\:col-5{flex:0 0 auto;width:41.66666667%}
.md\:col-6{flex:0 0 auto;width:50%}
.md\:col-7{flex:0 0 auto;width:58.33333333%}
.md\:col-8{flex:0 0 auto;width:66.66666667%}
.md\:col-9{flex:0 0 auto;width:75%}
.md\:col-10{flex:0 0 auto;width:83.33333333%}
.md\:col-11{flex:0 0 auto;width:91.66666667%}
.md\:col-12{flex:0 0 auto;width:100%}}









@media (min-width:992px){.col-lg{flex:1 0 0%}.row-cols-lg-auto>*{flex:0 0 auto;width:auto}.row-cols-lg-1>*{flex:0 0 auto;width:100%}.row-cols-lg-2>*{flex:0 0 auto;width:50%}.row-cols-lg-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-lg-4>*{flex:0 0 auto;width:25%}.row-cols-lg-5>*{flex:0 0 auto;width:20%}.row-cols-lg-6>*{flex:0 0 auto;width:16.6666666667%}


.lg\:col-auto{flex:0 0 auto;width:auto}
.lg\:col-1{flex:0 0 auto;width:8.33333333%}
.lg\:col-2{flex:0 0 auto;width:16.66666667%}
.lg\:col-3{flex:0 0 auto;width:25%}
.lg\:col-4{flex:0 0 auto;width:33.33333333%}
.lg\:col-5{flex:0 0 auto;width:41.66666667%}
.lg\:col-6{flex:0 0 auto;width:50%}
.lg\:col-7{flex:0 0 auto;width:58.33333333%}
.lg\:col-8{flex:0 0 auto;width:66.66666667%}
.lg\:col-9{flex:0 0 auto;width:75%}
.lg\:col-10{flex:0 0 auto;width:83.33333333%}
.lg\:col-11{flex:0 0 auto;width:91.66666667%}
.lg\:col-12{flex:0 0 auto;width:100%}}



@media (min-width:1200px){.col-xl{flex:1 0 0%}.row-cols-xl-auto>*{flex:0 0 auto;width:auto}.row-cols-xl-1>*{flex:0 0 auto;width:100%}.row-cols-xl-2>*{flex:0 0 auto;width:50%}.row-cols-xl-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-xl-4>*{flex:0 0 auto;width:25%}.row-cols-xl-5>*{flex:0 0 auto;width:20%}.row-cols-xl-6>*{flex:0 0 auto;width:16.6666666667%}


.xl\:col-auto{flex:0 0 auto;width:auto}
.xl\:col-1{flex:0 0 auto;width:8.33333333%}
.xl\:col-2{flex:0 0 auto;width:16.66666667%}
.xl\:col-3{flex:0 0 auto;width:25%}
.xl\:col-4{flex:0 0 auto;width:33.33333333%}
.xl\:col-5{flex:0 0 auto;width:41.66666667%}
.xl\:col-6{flex:0 0 auto;width:50%}
.xl\:col-7{flex:0 0 auto;width:58.33333333%}
.xl\:col-8{flex:0 0 auto;width:66.66666667%}
.xl\:col-9{flex:0 0 auto;width:75%}
.xl\:col-10{flex:0 0 auto;width:83.33333333%}
.xl\:col-11{flex:0 0 auto;width:91.66666667%}
.xl\:col-12{flex:0 0 auto;width:100%}}









/* row-col ended */





/* border-radius */
.round-1{
border-radius: 0.3rem !important;
}
.round-2{
border-radius: 0.6rem !important;
}
.round-3{
border-radius: 0.9rem !important;
}
.round-4{
border-radius: 1.2rem !important;
}
.round-5{
border-radius: 1.5rem !important;
}
.round-6{
border-radius: 1.8rem !important;
}
.round-7{
border-radius: 2.1rem !important;
}
.round-8{
border-radius: 2.4rem !important;
}
.round-9{
border-radius: 2.7rem !important;
}
.round-10{
border-radius: 3rem !important;
}
.round-full{
border-radius: 100% !important;
}








.hover\:round-1:hover{
border-radius: 0.3rem !important;
}
.hover\:round-2:hover{
border-radius: 0.6rem !important;
}
.hover\:round-3:hover{
border-radius: 0.9rem !important;
}
.hover\:round-4:hover{
border-radius: 1.2rem !important;
}
.hover\:round-5:hover{
border-radius: 1.5rem !important;
}
.hover\:round-6:hover{
border-radius: 1.8rem !important;
}
.hover\:round-7:hover{
border-radius: 2.1rem !important;
}
.hover\:round-8:hover{
border-radius: 2.4rem !important;
}
.hover\:round-9:hover{
border-radius: 2.7rem !important;
}
.hover\:round-10:hover{
border-radius: 3rem !important;
}
.hover\:round-full:hover{
border-radius: 100% !important;
}






@media(min-width:576px){
.sm\:round-1{
border-radius: 0.3rem !important;
}
.sm\:round-2{
border-radius: 0.6rem !important;
}
.sm\:round-3{
border-radius: 0.9rem !important;
}
.sm\:round-4{
border-radius: 1.2rem !important;
}
.sm\:round-5{
border-radius: 1.5rem !important;
}
.sm\:round-6{
border-radius: 1.8rem !important;
}
.sm\:round-7{
border-radius: 2.1rem !important;
}
.sm\:round-8{
border-radius: 2.4rem !important;
}
.sm\:round-9{
border-radius: 2.7rem !important;
}
.sm\:round-10{
border-radius: 3rem !important;
}
.sm\:round-full{
border-radius: 100% !important;
}				
}


@media(min-width:768px){
.md\:round-1{
border-radius: 0.3rem !important;
}
.md\:round-2{
border-radius: 0.6rem !important;
}
.md\:round-3{
border-radius: 0.9rem !important;
}
.md\:round-4{
border-radius: 1.2rem !important;
}
.md\:round-5{
border-radius: 1.5rem !important;
}
.md\:round-6{
border-radius: 1.8rem !important;
}
.md\:round-7{
border-radius: 2.1rem !important;
}
.md\:round-8{
border-radius: 2.4rem !important;
}
.md\:round-9{
border-radius: 2.7rem !important;
}
.md\:round-10{
border-radius: 3rem !important;
}
.md\:round-full{
border-radius: 100% !important;
}				
}

@media(min-width:992px){
.lg\:round-1{
border-radius: 0.3rem !important;
}
.lg\:round-2{
border-radius: 0.6rem !important;
}
.lg\:round-3{
border-radius: 0.9rem !important;
}
.lg\:round-4{
border-radius: 1.2rem !important;
}
.lg\:round-5{
border-radius: 1.5rem !important;
}
.lg\:round-6{
border-radius: 1.8rem !important;
}
.lg\:round-7{
border-radius: 2.1rem !important;
}
.lg\:round-8{
border-radius: 2.4rem !important;
}
.lg\:round-9{
border-radius: 2.7rem !important;
}
.lg\:round-10{
border-radius: 3rem !important;
}
.lg\:round-full{
border-radius: 100% !important;
}				
}


@media(min-width:1200px){
.xl\:round-1{
border-radius: 0.3rem !important;
}
.xl\:round-2{
border-radius: 0.6rem !important;
}
.xl\:round-3{
border-radius: 0.9rem !important;
}
.xl\:round-4{
border-radius: 1.2rem !important;
}
.xl\:round-5{
border-radius: 1.5rem !important;
}
.xl\:round-6{
border-radius: 1.8rem !important;
}
.xl\:round-7{
border-radius: 2.1rem !important;
}
.xl\:round-8{
border-radius: 2.4rem !important;
}
.xl\:round-9{
border-radius: 2.7rem !important;
}
.xl\:round-10{
border-radius: 3rem !important;
}
.xl\:round-full{
border-radius: 100% !important;
}				
}

/* border-radius ended */




/* line-height */
.line-space-1{
line-height: 1 !important;	
}
.line-space-2{
line-height: 1.2 !important;				
}
.line-space-3{
line-height: 1.4 !important;	
}
.line-space-4{
line-height: 1.6 !important;				
}
.line-space-5{
line-height: 1.8 !important;	
}
.line-space-6{
line-height: 2 !important;				
}
.line-space-7{
line-height: 2.2 !important;	
}
.line-space-8{
line-height: 2.4 !important;				
}
.line-space-9{
line-height: 2.6 !important;	
}
.line-space-10{
line-height: 2.8 !important;				
}





.hover\:line-space-1:hover{
line-height: 1 !important;	
}
.hover\:line-space-2:hover{
line-height: 1.2 !important;				
}
.hover\:line-space-3:hover{
line-height: 1.4 !important;	
}
.hover\:line-space-4:hover{
line-height: 1.6 !important;				
}
.hover\:line-space-5:hover{
line-height: 1.8 !important;	
}
.hover\:line-space-6:hover{
line-height: 2 !important;				
}
.hover\:line-space-7:hover{
line-height: 2.2 !important;	
}
.hover\:line-space-8:hover{
line-height: 2.4 !important;				
}
.hover\:line-space-9:hover{
line-height: 2.6 !important;	
}
.hover\:line-space-10:hover{
line-height: 2.8 !important;				
}




@media(min-width:576px){
.sm\:line-space-1{
line-height: 1 !important;	
}
.sm\:line-space-2{
line-height: 1.2 !important;				
}
.sm\:line-space-3{
line-height: 1.4 !important;	
}
.sm\:line-space-4{
line-height: 1.6 !important;				
}
.sm\:line-space-5{
line-height: 1.8 !important;	
}
.sm\:line-space-6{
line-height: 2 !important;				
}
.sm\:line-space-7{
line-height: 2.2 !important;	
}
.sm\:line-space-8{
line-height: 2.4 !important;				
}
.sm\:line-space-9{
line-height: 2.6 !important;	
}
.sm\:line-space-10{
line-height: 2.8 !important;				
}				
}





@media(min-width:768px){
.md\:line-space-1{
line-height: 1 !important;	
}
.md\:line-space-2{
line-height: 1.2 !important;				
}
.md\:line-space-3{
line-height: 1.4 !important;	
}
.md\:line-space-4{
line-height: 1.6 !important;				
}
.md\:line-space-5{
line-height: 1.8 !important;	
}
.md\:line-space-6{
line-height: 2 !important;				
}
.md\:line-space-7{
line-height: 2.2 !important;	
}
.md\:line-space-8{
line-height: 2.4 !important;				
}
.md\:line-space-9{
line-height: 2.6 !important;	
}
.md\:line-space-10{
line-height: 2.8 !important;				
}				
}


@media(min-width:992px){
.lg\:line-space-1{
line-height: 1 !important;	
}
.lg\:line-space-2{
line-height: 1.2 !important;				
}
.lg\:line-space-3{
line-height: 1.4 !important;	
}
.lg\:line-space-4{
line-height: 1.6 !important;				
}
.lg\:line-space-5{
line-height: 1.8 !important;	
}
.lg\:line-space-6{
line-height: 2 !important;				
}
.lg\:line-space-7{
line-height: 2.2 !important;	
}
.lg\:line-space-8{
line-height: 2.4 !important;				
}
.lg\:line-space-9{
line-height: 2.6 !important;	
}
.lg\:line-space-10{
line-height: 2.8 !important;				
}				
}



@media(min-width:1200px){
.xl\:line-space-1{
line-height: 1 !important;	
}
.xl\:line-space-2{
line-height: 1.2 !important;				
}
.xl\:line-space-3{
line-height: 1.4 !important;	
}
.xl\:line-space-4{
line-height: 1.6 !important;				
}
.xl\:line-space-5{
line-height: 1.8 !important;	
}
.xl\:line-space-6{
line-height: 2 !important;				
}
.xl\:line-space-7{
line-height: 2.2 !important;	
}
.xl\:line-space-8{
line-height: 2.4 !important;				
}
.xl\:line-space-9{
line-height: 2.6 !important;	
}
.xl\:line-space-10{
line-height: 2.8 !important;				
}				
}


/* line-height ended */


