*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth}}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}

.col{flex:1 0 0%}.row-cols-auto>*{flex:0 0 auto;width:auto}.row-cols-1>*{flex:0 0 auto;width:100%}.row-cols-2>*{flex:0 0 auto;width:50%}.row-cols-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-4>*{flex:0 0 auto;width:25%}.row-cols-5>*{flex:0 0 auto;width:20%}.row-cols-6>*{flex:0 0 auto;width:16.6666666667%}.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}




.hover\:col-auto:hover{flex:0 0 auto;width:auto}
.hover\:col-1:hover{flex:0 0 auto;width:8.33333333%}
.hover\:col-2:hover{flex:0 0 auto;width:16.66666667%}
.hover\:col-3:hover{flex:0 0 auto;width:25%}
.hover\:col-4:hover{flex:0 0 auto;width:33.33333333%}
.hover\:col-5:hover{flex:0 0 auto;width:41.66666667%}
.hover\:col-6:hover{flex:0 0 auto;width:50%}
.hover\:col-7:hover{flex:0 0 auto;width:58.33333333%}
.hover\:col-8:hover{flex:0 0 auto;width:66.66666667%}
.hover\:col-9:hover{flex:0 0 auto;width:75%}
.hover\:col-10:hover{flex:0 0 auto;width:83.33333333%}
.hover\:col-11:hover{flex:0 0 auto;width:91.66666667%}
.hover\:col-12:hover{flex:0 0 auto;width:100%}}




@media (min-width:576px){.col-sm{flex:1 0 0%}.row-cols-sm-auto>*{flex:0 0 auto;width:auto}.row-cols-sm-1>*{flex:0 0 auto;width:100%}.row-cols-sm-2>*{flex:0 0 auto;width:50%}.row-cols-sm-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-sm-4>*{flex:0 0 auto;width:25%}.row-cols-sm-5>*{flex:0 0 auto;width:20%}.row-cols-sm-6>*{flex:0 0 auto;width:16.6666666667%}

.sm\:col-auto{flex:0 0 auto;width:auto}
.sm\:col-1{flex:0 0 auto;width:8.33333333%}
.sm\:col-2{flex:0 0 auto;width:16.66666667%}
.sm\:col-3{flex:0 0 auto;width:25%}
.sm\:col-4{flex:0 0 auto;width:33.33333333%}
.sm\:col-5{flex:0 0 auto;width:41.66666667%}
.sm\:col-6{flex:0 0 auto;width:50%}
.sm\:col-7{flex:0 0 auto;width:58.33333333%}
.sm\:col-8{flex:0 0 auto;width:66.66666667%}
.sm\:col-9{flex:0 0 auto;width:75%}
.sm\:col-10{flex:0 0 auto;width:83.33333333%}
.sm\:col-11{flex:0 0 auto;width:91.66666667%}
.sm\:col-12{flex:0 0 auto;width:100%}}




@media (min-width:768px){.col-md{flex:1 0 0%}.row-cols-md-auto>*{flex:0 0 auto;width:auto}.row-cols-md-1>*{flex:0 0 auto;width:100%}.row-cols-md-2>*{flex:0 0 auto;width:50%}.row-cols-md-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-md-4>*{flex:0 0 auto;width:25%}.row-cols-md-5>*{flex:0 0 auto;width:20%}.row-cols-md-6>*{flex:0 0 auto;width:16.6666666667%}

.md\:col-auto{flex:0 0 auto;width:auto}
.md\:col-1{flex:0 0 auto;width:8.33333333%}
.md\:col-2{flex:0 0 auto;width:16.66666667%}
.md\:col-3{flex:0 0 auto;width:25%}
.md\:col-4{flex:0 0 auto;width:33.33333333%}
.md\:col-5{flex:0 0 auto;width:41.66666667%}
.md\:col-6{flex:0 0 auto;width:50%}
.md\:col-7{flex:0 0 auto;width:58.33333333%}
.md\:col-8{flex:0 0 auto;width:66.66666667%}
.md\:col-9{flex:0 0 auto;width:75%}
.md\:col-10{flex:0 0 auto;width:83.33333333%}
.md\:col-11{flex:0 0 auto;width:91.66666667%}
.md\:col-12{flex:0 0 auto;width:100%}}









@media (min-width:992px){.col-lg{flex:1 0 0%}.row-cols-lg-auto>*{flex:0 0 auto;width:auto}.row-cols-lg-1>*{flex:0 0 auto;width:100%}.row-cols-lg-2>*{flex:0 0 auto;width:50%}.row-cols-lg-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-lg-4>*{flex:0 0 auto;width:25%}.row-cols-lg-5>*{flex:0 0 auto;width:20%}.row-cols-lg-6>*{flex:0 0 auto;width:16.6666666667%}


.lg\:col-auto{flex:0 0 auto;width:auto}
.lg\:col-1{flex:0 0 auto;width:8.33333333%}
.lg\:col-2{flex:0 0 auto;width:16.66666667%}
.lg\:col-3{flex:0 0 auto;width:25%}
.lg\:col-4{flex:0 0 auto;width:33.33333333%}
.lg\:col-5{flex:0 0 auto;width:41.66666667%}
.lg\:col-6{flex:0 0 auto;width:50%}
.lg\:col-7{flex:0 0 auto;width:58.33333333%}
.lg\:col-8{flex:0 0 auto;width:66.66666667%}
.lg\:col-9{flex:0 0 auto;width:75%}
.lg\:col-10{flex:0 0 auto;width:83.33333333%}
.lg\:col-11{flex:0 0 auto;width:91.66666667%}
.lg\:col-12{flex:0 0 auto;width:100%}}



@media (min-width:1200px){.col-xl{flex:1 0 0%}.row-cols-xl-auto>*{flex:0 0 auto;width:auto}.row-cols-xl-1>*{flex:0 0 auto;width:100%}.row-cols-xl-2>*{flex:0 0 auto;width:50%}.row-cols-xl-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-xl-4>*{flex:0 0 auto;width:25%}.row-cols-xl-5>*{flex:0 0 auto;width:20%}.row-cols-xl-6>*{flex:0 0 auto;width:16.6666666667%}


.xl\:col-auto{flex:0 0 auto;width:auto}
.xl\:col-1{flex:0 0 auto;width:8.33333333%}
.xl\:col-2{flex:0 0 auto;width:16.66666667%}
.xl\:col-3{flex:0 0 auto;width:25%}
.xl\:col-4{flex:0 0 auto;width:33.33333333%}
.xl\:col-5{flex:0 0 auto;width:41.66666667%}
.xl\:col-6{flex:0 0 auto;width:50%}
.xl\:col-7{flex:0 0 auto;width:58.33333333%}
.xl\:col-8{flex:0 0 auto;width:66.66666667%}
.xl\:col-9{flex:0 0 auto;width:75%}
.xl\:col-10{flex:0 0 auto;width:83.33333333%}
.xl\:col-11{flex:0 0 auto;width:91.66666667%}
.xl\:col-12{flex:0 0 auto;width:100%}}









/* row-col ended */
