:root{
--darkbg: linear-gradient(315deg, #07145a 0%, #040328 64%);
--lightbg: #fafafa;
--lighttext: #000;
--darktext: #fafafa;
--darknavbg: #040328;
--lightnavbg: #fafafa;
--darksidebg: #070541;
--lightsidebg: #fff;
--lightblurbg: rgba(0,0,0,0.05);
--darkblurbg: rgba(255,255,255,0.08);
--cardshdark:0px 1px 4px 0px #bbbbbb;
--cardshlight:0px 1px 5px 0px #a4a4a4;
--darkformbg: #1a214d;
--lightformbg: #e0e0e0;
--searchdbg: #060433;
--searchlbg: #fff;
--dblurtext: #a3acc4;
--lblurtext: #5d616f;
}
.light-theme{
--bg: var(--lightbg);
--text: var(--lighttext);
--navbg: var(--lightnavbg);
--sidebg: var(--lightsidebg);
--blurbg: var(--lightblurbg);
--cardsh: var(--cardshlight);
--formbg: var(--lightformbg);
--searchbg: var(--searchlbg);
--blurtext: var(--lblurtext);
}
.dark-theme{
--bg: var(--darkbg);
--text: var(--darktext);
--navbg: var(--darknavbg);
--sidebg: var(--darksidebg);
--blurbg: var(--darkblurbg);
--cardsh: var(--cardshdark);
--formbg: var(--darkformbg);
--searchbg: var(--searchdbg);
--blurtext: var(--dblurtext);
}

*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth}}

.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}

.col{flex:1 0 0%}.row-cols-auto>*{flex:0 0 auto;width:auto}.row-cols-1>*{flex:0 0 auto;width:100%}.row-cols-2>*{flex:0 0 auto;width:50%}.row-cols-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-4>*{flex:0 0 auto;width:25%}.row-cols-5>*{flex:0 0 auto;width:20%}.row-cols-6>*{flex:0 0 auto;width:16.6666666667%}.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}




.hover\:col-auto:hover{flex:0 0 auto;width:auto}
.hover\:col-1:hover{flex:0 0 auto;width:8.33333333%}
.hover\:col-2:hover{flex:0 0 auto;width:16.66666667%}
.hover\:col-3:hover{flex:0 0 auto;width:25%}
.hover\:col-4:hover{flex:0 0 auto;width:33.33333333%}
.hover\:col-5:hover{flex:0 0 auto;width:41.66666667%}
.hover\:col-6:hover{flex:0 0 auto;width:50%}
.hover\:col-7:hover{flex:0 0 auto;width:58.33333333%}
.hover\:col-8:hover{flex:0 0 auto;width:66.66666667%}
.hover\:col-9:hover{flex:0 0 auto;width:75%}
.hover\:col-10:hover{flex:0 0 auto;width:83.33333333%}
.hover\:col-11:hover{flex:0 0 auto;width:91.66666667%}
.hover\:col-12:hover{flex:0 0 auto;width:100%}}




@media (min-width:576px){.col-sm{flex:1 0 0%}.row-cols-sm-auto>*{flex:0 0 auto;width:auto}.row-cols-sm-1>*{flex:0 0 auto;width:100%}.row-cols-sm-2>*{flex:0 0 auto;width:50%}.row-cols-sm-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-sm-4>*{flex:0 0 auto;width:25%}.row-cols-sm-5>*{flex:0 0 auto;width:20%}.row-cols-sm-6>*{flex:0 0 auto;width:16.6666666667%}

.sm\:col-auto{flex:0 0 auto;width:auto}
.sm\:col-1{flex:0 0 auto;width:8.33333333%}
.sm\:col-2{flex:0 0 auto;width:16.66666667%}
.sm\:col-3{flex:0 0 auto;width:25%}
.sm\:col-4{flex:0 0 auto;width:33.33333333%}
.sm\:col-5{flex:0 0 auto;width:41.66666667%}
.sm\:col-6{flex:0 0 auto;width:50%}
.sm\:col-7{flex:0 0 auto;width:58.33333333%}
.sm\:col-8{flex:0 0 auto;width:66.66666667%}
.sm\:col-9{flex:0 0 auto;width:75%}
.sm\:col-10{flex:0 0 auto;width:83.33333333%}
.sm\:col-11{flex:0 0 auto;width:91.66666667%}
.sm\:col-12{flex:0 0 auto;width:100%}}




@media (min-width:768px){.col-md{flex:1 0 0%}.row-cols-md-auto>*{flex:0 0 auto;width:auto}.row-cols-md-1>*{flex:0 0 auto;width:100%}.row-cols-md-2>*{flex:0 0 auto;width:50%}.row-cols-md-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-md-4>*{flex:0 0 auto;width:25%}.row-cols-md-5>*{flex:0 0 auto;width:20%}.row-cols-md-6>*{flex:0 0 auto;width:16.6666666667%}

.md\:col-auto{flex:0 0 auto;width:auto}
.md\:col-1{flex:0 0 auto;width:8.33333333%}
.md\:col-2{flex:0 0 auto;width:16.66666667%}
.md\:col-3{flex:0 0 auto;width:25%}
.md\:col-4{flex:0 0 auto;width:33.33333333%}
.md\:col-5{flex:0 0 auto;width:41.66666667%}
.md\:col-6{flex:0 0 auto;width:50%}
.md\:col-7{flex:0 0 auto;width:58.33333333%}
.md\:col-8{flex:0 0 auto;width:66.66666667%}
.md\:col-9{flex:0 0 auto;width:75%}
.md\:col-10{flex:0 0 auto;width:83.33333333%}
.md\:col-11{flex:0 0 auto;width:91.66666667%}
.md\:col-12{flex:0 0 auto;width:100%}}









@media (min-width:992px){.col-lg{flex:1 0 0%}.row-cols-lg-auto>*{flex:0 0 auto;width:auto}.row-cols-lg-1>*{flex:0 0 auto;width:100%}.row-cols-lg-2>*{flex:0 0 auto;width:50%}.row-cols-lg-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-lg-4>*{flex:0 0 auto;width:25%}.row-cols-lg-5>*{flex:0 0 auto;width:20%}.row-cols-lg-6>*{flex:0 0 auto;width:16.6666666667%}


.lg\:col-auto{flex:0 0 auto;width:auto}
.lg\:col-1{flex:0 0 auto;width:8.33333333%}
.lg\:col-2{flex:0 0 auto;width:16.66666667%}
.lg\:col-3{flex:0 0 auto;width:25%}
.lg\:col-4{flex:0 0 auto;width:33.33333333%}
.lg\:col-5{flex:0 0 auto;width:41.66666667%}
.lg\:col-6{flex:0 0 auto;width:50%}
.lg\:col-7{flex:0 0 auto;width:58.33333333%}
.lg\:col-8{flex:0 0 auto;width:66.66666667%}
.lg\:col-9{flex:0 0 auto;width:75%}
.lg\:col-10{flex:0 0 auto;width:83.33333333%}
.lg\:col-11{flex:0 0 auto;width:91.66666667%}
.lg\:col-12{flex:0 0 auto;width:100%}}



@media (min-width:1200px){.col-xl{flex:1 0 0%}.row-cols-xl-auto>*{flex:0 0 auto;width:auto}.row-cols-xl-1>*{flex:0 0 auto;width:100%}.row-cols-xl-2>*{flex:0 0 auto;width:50%}.row-cols-xl-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-xl-4>*{flex:0 0 auto;width:25%}.row-cols-xl-5>*{flex:0 0 auto;width:20%}.row-cols-xl-6>*{flex:0 0 auto;width:16.6666666667%}


.xl\:col-auto{flex:0 0 auto;width:auto}
.xl\:col-1{flex:0 0 auto;width:8.33333333%}
.xl\:col-2{flex:0 0 auto;width:16.66666667%}
.xl\:col-3{flex:0 0 auto;width:25%}
.xl\:col-4{flex:0 0 auto;width:33.33333333%}
.xl\:col-5{flex:0 0 auto;width:41.66666667%}
.xl\:col-6{flex:0 0 auto;width:50%}
.xl\:col-7{flex:0 0 auto;width:58.33333333%}
.xl\:col-8{flex:0 0 auto;width:66.66666667%}
.xl\:col-9{flex:0 0 auto;width:75%}
.xl\:col-10{flex:0 0 auto;width:83.33333333%}
.xl\:col-11{flex:0 0 auto;width:91.66666667%}
.xl\:col-12{flex:0 0 auto;width:100%}}









/* row-col ended */

html{
accent-color: #f92a71;
}

body {
margin: 0;
padding: 0;
box-sizing: border-box;
background: var(--bg);
background-attachment: fixed;
color: var(--text);
height: 100vh;
width: 100vw;
overflow-x: hidden;
font-family: Arial;
accent-color: #f92a71;
}
.body > *:not(.sidebar) { 
filter: blur(8px);
}
.display > *:not(#search-box) { 
filter: blur(8px);
}

a,article{
user-select: none;
}

.loader{
opacity: 0;
}

h1,h2,h3,h4,h5,h6{
margin: 0;
padding: 0;
}
::selection{
background: #f92a71;
color: #fff;
}
.card-icon{
user-select: none !important;
}



/* navbar */
.nav{
width: 100%;
box-shadow: 0px 0px 4px 0px #585858;
padding: 20px 0px;
display:flex;
align-items:center;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 9999999;
background: var(--navbg);
user-select: none;
}
.nav-left{
margin-left: 15px;
width: 100%;
display:flex;align-items:center;
justify-content: flex-start;
}
.nav-right{
margin-right: 15px;
width: 100%;
display:flex;align-items:center;
justify-content: flex-end;
}


.nav h2{
font-size: 24px;
font-weight: 500;
margin-left: 5px;
}


.nav-left h3{
font-size: 28px;
color: #f92a71;
}
.nav h2 span{
margin: 0;	
padding: 0;		
word-spacing: 0px;
}
.nav #menu{
font-size: 28px;
}
.nav #search{
font-size: 25px;
margin-right: 12px;
}
.nav #toggle{
font-size: 24px;
margin-right: 16px;
}


/*  
.nav .fruit{
color: #378b00;
}
.nav .css{
color:  #95d85a;
}
 */




/* first section */
.first{
margin-top: 70px;
padding-top: 4rem;
}

.first h1{
font-size:35px;
font-weight:800; 
text-align:center;
margin:0;
line-height:42px;
word-spacing:2px;
letter-spacing:0px;
padding:0px 8px;
}
.first p{
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
text-align: center;
padding:12px 14px;
margin-top: 1rem;
color: var(--blurtext);
margin-bottom: 3rem;
line-height:28px;
}


.first div{
display:flex;align-items:center;justify-content:center;
flex-direction: column;
width: 100%;
}

.first article:nth-child(1){
text-decoration: none;
color: #fff;
background: #f92a71;
width: 250px;
padding: 16px 0px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 500;
border-radius: 6px;
margin-bottom: 1rem;
transition: all 0.3s;
}
.first article:nth-child(2){
text-decoration: none;
color: var(--text);
background: var(--blurbg);
width: 250px;
padding: 16px 0px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 500;
border-radius: 6px;
margin-bottom: 1rem;
transition:transform 0.3s;
}
.first article:nth-child(2) span{
font-size: 24px;				
margin-right: 0.7rem;
}

.first article:nth-child(1):hover{
transform: translateY(-5px);
}





@media(min-width:600px){
.first{
padding:4rem 50px 0 50px;
}				
}
@media(min-width:700px){
.first{
padding:4rem 80px 0 80px;
}			
.first div{
flex-direction: row;
}
.first article{
margin-right: 1rem;
}
.first article:nth-child(2):hover{
transform: translateY(-5px);
}
}
@media(min-width:1000px){
.first{
padding:4rem 110px 0 110px;
}				
}
@media(min-width:1200px){
.first{
padding:4rem 200px 0 200px;
}				
}
@media(min-width:1400px){
.first{
padding:4rem 230px 0 230px;
}				
}
@media(min-width:1450px){
.first{
padding:4rem 250px 0 250px;
}				
}


.green{
color: #f92a71;
font-weight: 600;
}










/* sidebar */
.sidebar{
width: 250px;
background: var(--sidebg);
position: fixed;
top: 0;
right: -100%;
z-index: 9999999999999999;
height: 100vh;
transition: right 0.3s;
overflow: hidden;
user-select: none;
box-shadow: 0px 0px 0.8px var(--text);
}
#side-back{
font-size: 27px;
font-weight: 400;
margin: 0.5rem 0 0 1rem;
}
#side-top{
background: var(--blurbg);				
padding-bottom: 0.8rem;
}


#side-right{
margin-top: 3rem;
display:flex;align-items:center;justify-content:flex-end; 
flex-direction: column;
width: 100%;
overflow-y: scroll;
}

#side-right span{
display:flex;align-items:center;justify-content:center; 
margin-right: 10px;
align-self: flex-end;
margin-bottom: 2rem;
}
#side-right span h3{
font-size: 15px;
font-weight: 401;
}
#side-right span i{
font-size: 22px;
font-weight: 100;
color: var(--blurtext);
opacity: 0.6;
margin-left: 18px;
}
#side-right #side-hr{
width: 100%;
height: 1px;
outline: none;
margin: 0;
padding: 0;
background: var(--blurbg);
margin-bottom: 1rem;
}




#pic2{
width: 80px;
height: 80px;
border-radius: 100%;
border: 4px solid #f2f2f2;
display:flex;align-items:center;justify-content:center; 
overflow: hidden;
position: relative;
right: -150px;
background-image: url("no-pic.png");
background-size: 80% 80%;
background-position: center;
background-repeat: no-repeat;
background-color: #e4e6e7;
}
.pic-pic{
width: 100%;
height: 100%;
}
.pic-name{
font-weight: 500;
font-size: 16px;
text-align: right;
margin-top: 0.5rem;
margin-right: 15px;
opacity: 0;
}

.pic-num{
font-weight: 400;
font-size: 13px;
text-align: right;
margin-top: 0.15rem;
margin-right: 15px;
opacity: 0;
display: none;
}

.pic-id{
font-weight: 400;
font-size: 13.5px;
text-align: right;
margin-top: 0.15rem;
margin-right: 15px;
opacity: 0;
}
.active-link{
opacity: 1 !important;
color: #f92a71 !important;
}
.active-link i{
opacity: 1 !important;
color: #f92a71 !important;
}





#state,#deleteImgs,.thumb,#files{
opacity: 0;
position: absolute;
z-index: -999999999999999999999999999;
}










.pic-form{
position: fixed;
z-index: 999999999999999999999999999999999999999999999999999999;
background: var(--bg);
height: 100%;
width: 100%;
top: 0;
display:none;align-items:center;
flex-direction: column;
user-select: none;
}

.pic-form form{
width: 80%;
height: 400px;
border-radius: 6px;
background: var(--formbg);
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
position: fixed;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
z-index: 99;
}




@media(min-width:600px){
.pic-form form{
width: 60%;
}				
}
@media(min-width:800px){
.pic-form form{
width: 50%;
top: 55%;
}				
}


.pic-form form input{
width: 80%;
height: 45px;
background: #fff;
outline: none;
border: none;
border-radius: 6px;
margin-top: 0.5rem;
padding: 0px 8px;
}

#pic-form-head{
display:flex;align-items:center;
justify-content: space-around;
position: relative;
top: -20px;
}
@media(max-width:340px){
#pic-form-head{
transform: scale(0.9);
}		
}
#pic-form-foot{
display:flex;align-items:center;
justify-content: space-around;
width: 84%;
}

#choose-pic{
width: 45%;
padding: 8px 12px;
border-radius: 6px;
text-align: center;
color: #fff;
font-weight: 600;
font-size: 15px;
margin-left: 1rem;
letter-spacing: 0.1px;
display:flex;align-items:center;justify-content: space-around; 
background: #f92a71;
}
#choose-pic span{
margin-right: 0.3rem;
font-size: 22px;
}

#pic-form-foot input[type="reset"]{
margin: 1rem 0.5rem 0 0;			
background: #f92a71;
color: #fff;
font-weight: 500;
font-size: 16px;
}
#pic-form-foot input[type="submit"]{
margin: 1rem 0 0 0.5rem;			
background: #f92a71;
color: #fff;
font-weight: 500;
font-size: 16px;
}


#pic{
right: 0 !important;
width: 70px;
height: 70px;
border-radius: 100%;
border: 4px solid #f2f2f2;
display:flex;align-items:center;justify-content:center; 
overflow: hidden;
position: relative;
background-image: url("no-pic.png");
background-size: 80% 80%;
background-position: center;
background-repeat: no-repeat;
background-color: #e4e6e7;
}

#pic-form-heading{
color: var(--text);	
font-size: 16px;
font-weight: 500;
border-bottom: 3px solid #f92a71;
position: fixed;
top: 2rem;
z-index: -99;
}
#pic-form-heading span{
color: #f92a71;
font-size: 32px;
margin-right: 0.2rem;
}
.pic-edit{
font-size: 27px;				
top: 8.8rem;
left: 2rem;
position: absolute;
}











/* second section css */
#second{
width:100%;
margin-top:5rem;
}

#blue{
color: #f473b6;
}
#blur{
color: #7f8c9e;
}
#pink{
color: #00b5f9;
}
#fff{
color: #fff;
font-family:Arial;
}

#laptop{
width:100%;
background: #05042e;
box-shadow:0px 0.5px 1px #6c7181;
display:flex;justify-content:center; 
flex-direction:column;
padding:0px 0px 80px 0px;
position:relative;
transform:translateX(-50%);
left:50%;
overflow: hidden;
}

@media(min-width:600px){
#laptop{
width:90%;
border-radius:10px;
box-shadow:0px 0px 6px #6c7181;
}				
}
@media(min-width:800px){
#laptop{
width:85%;
border-radius:10px;
box-shadow:0px 0px 6px #6c7181;
}				
}



#laptop #dots{
width:100%;
padding:10px 0px 10px 12px;
display:flex;align-items:center;justify-content:space-between;
box-shadow:0px 0px 5px 0px #6c7181;
position:relative;
z-index:9;
user-select: none;
}

@media(min-width:600px){
#laptop #dots{
box-shadow:0px 0px 6px #6c7181;
}				
}

#laptop #dots span{
font-size:12px;
margin-right:2px;
color: #6c7181;
}

#laptop #type{
height: 100%;
width:100%;
overflow: auto;
white-space: nowrap;
outline:none;
border:none;
background: transparent;
padding:15px 0px 15px 15px;
user-select: text;
margin-top: 1rem;
}


/* width */
#laptop #type::-webkit-scrollbar {
  width: 0px;
}

/* Track */
#laptop #type::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#laptop #type::-webkit-scrollbar-thumb {
  background: transparent;
}


@media(min-width:600px){
#laptop #type{
padding:30px;
}				
}

#laptop #type p{
line-height: 28px;
font-size:15px;
font-weight:400;
font-family: Arial;
margin: 0px 0px 10px 0px;
}


#card-one{
background: var(--bg);
color: var(--text);
top:70rem;
width: 90%;
box-shadow: var(--cardsh);
}


#card-one img{
border: 3px solid var(--text);
}

@media(max-width:380px){
#card-one{
top:73rem;
}				
}
@media(max-width:342px){
#card-one{
top:76rem;
}				
}

@media(min-width:550px){
#card-one{
top:65rem;
width: 60%;
}						
}
@media(min-width:800px){
#card-one{
top: 63;
width: 50%;
}										
}
@media(min-width:1060px){
#card-one{
top:59rem;
width: 40%;
}										
}

@media(min-width:1260px){
#card-one{
top:60rem;
width: 30%;
}										
}






/* search-box */
#search-box{
width: 92%;
border-radius: 8px;
background: var(--searchbg);
position: fixed;
z-index: 99999999999999999;
transform: translate(-50%,-50%);
left: 50%;
top: 140px;
box-shadow: var(--cardsh);
padding: 3px 0px;
color: var(--blurtext);
display: none;
}
#search-head{
width: 100%;
display:flex;align-items:center;justify-content:center; 
height: 45px;
}
#search-head span{
font-size: 22px;
padding: 0px 10px;
color: ;
}
#search-head input{
outline: none;
color: var(--text);
caret-color: var(--text);
width: 100%;
height: 100%;
border: none;
background: transparent;
font-size: 17px;
padding-right: 1rem;
}

#search-foot{
width: 100%;
display:flex;
align-items: flex-start;
justify-content: center; 
flex-direction: column;
font-size: 12px;
margin-top: 0.5rem;
}
#search-foot h2{
font-weight: 400;
font-size: 15.5px;
margin: 0.4rem 0px 0.8rem 1rem;
display:flex;align-items:center;justify-content:center; 
}
#search-foot span{
margin:0px 1.3rem 0px 0px;				
font-size: 22px;
padding: 0;
}





::placeholder{
color: var(--blurtext);
}








/* third section */
.third{
margin-top: 8rem;
padding-top: 4rem;
}

.third h1{
font-size:35px;
font-weight:800; 
text-align:center;
margin:0;
line-height:42px;
word-spacing:0px;
letter-spacing:0px;
padding:0px 8px;
}
.third h3{
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
text-align: center;
padding:12px 14px;
margin-top: 1rem;
color: var(--blurtext);
margin-bottom: 2rem;
line-height:28px;
}


@media(min-width:600px){
.third{
padding:4rem 50px 0 50px;
}				
}
@media(min-width:600px){
.third{
padding:4rem 80px 0 80px;
}				
}
@media(min-width:1000px){
.third{
padding:4rem 110px 0 110px;
}				
}
@media(min-width:1200px){
.third{
padding:4rem 200px 0 200px;
}				
}
@media(min-width:1400px){
.third{
padding:4rem 230px 0 230px;
}				
}
@media(min-width:1450px){
.third{
padding:4rem 250px 0 250px;
}				
}


#third-box{
margin: 0 auto;	
display:flex;align-items:center;justify-content: space-between; 
width: 220px;
}

#third-box img{
width: 70px;
height: 70px;
border: 2.5px solid var(--blurtext);
border-radius: 100%;
}

#third-box div{
display:flex;align-items:center;justify-content:center;
flex-direction: column;
margin: 0;
}
#third-box div h3{
margin: 0;
padding: 0;
font-weight: 700;
font-size: 16.5px;
color: var(--text);
}
#third-box div p{
margin: 2px 0px 0px 0px;
padding: 0;
font-weight: 400;
font-size: 14px;
color: var(--blurtext);
}



@media(min-width:600px){
#third{
padding:0px 50px;
}				
}
@media(min-width:600px){
#third{
padding:0px 80px;
}				
}
@media(min-width:1000px){
#third{
padding:0px 110px;
}				
}
@media(min-width:1200px){
#third{
padding:0px 140px;
}				
}





/* fourth section */
#fourth{
width: 100%;
margin-top: 4rem;				
}

/* carousel card */
#card{
background: var(--blurbg);
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
width: 92%;
border-radius: 8px;
padding: 6px;
box-shadow: inset 0 85px 0px 0px #f92a71;
}
#card img{
width: 90px;
height: 90px;
border-radius: 100%;
margin: 0 auto;
margin-top: 2rem;
border: 3px solid var(--text);
}

#card h3{
font-size: 17px;	
font-weight: 600;
margin-top: 10px;
text-align: center;
line-height: 25px;
}
#card h3 span{
font-size: 16px;
font-weight: 400;
opacity: 0.85;
text-align: center;
}

#card p{
font-size: 16.8px;
font-weight: 400;
letter-spacing: 0.3px;
line-height: 25px;
padding: 0 12px;
margin-top: 1.5rem;
text-align: center;
}

#card-icon{
position: absolute;
left: 25px;
top: 25px;
font-size: 24px;
color: #fff;
}
#card-icon i{
margin: -8px !important;
transform: rotateX(0deg) rotateY(180deg);
font-weight: 900 !important;
}

@media(min-width:700px){
#card{
width: 87%;
}				
#card p{
font-size: 15.8px;
}
#card-icon{
left: 35px;
top: 25px;
}
}
@media(min-width:1200px){
#card-icon{
left: 40px;
top: 25px;
}				
}





/* CSS for initialize SWIPER.JS */
.swiper { width: 100%; height: 100%;margin-top: 5rem;}
.swiper-pagination{
margin-top: 1rem;
}
.swiper-slide { text-align: center; font-size: 18px; background: transparent;
/* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.swiper-slide { width: 90% !important;}
.teach-slide{
width: 85% !important;
padding: 10px 0px !important;
}


.swiper-button-next{
right: 5px !important;
}

.swiper-button-prev{
left: 5px !important;
}

@media(min-width:768px){
.swiper{
width: 90% !important;
}
.swiper-slide { width: 30% !important;}				
}
.swiper-pagination-bullet{ background-color: #bebebe !important;
opacity: 1 !important;
}
.swiper-pagination-bullet-active{
background: #f9005c !important;
}


@media(min-width:768px){
.teach-swiper{
padding: 0px 20px !important;
}				

.swiper-button-next{
right: 0px !important;
}

.swiper-button-prev{
left: 0px !important;
}
}








/* Powered features*/
#power{
margin-top: 26rem;
width: 100%;
padding: 0px 2rem 0px 2rem;
}
#power .row{
justify-content: space-around;
}

#power h1{
font-size:35px;
font-weight:800; 
text-align:center;
margin:0 0 2rem 0;
line-height:42px;
word-spacing:0px;
letter-spacing:0px;
padding:0px 8px;
}
.power-card{
text-align: center;
margin-top: 1rem;
padding:8px 25px;
border-radius: 10px;
}
.power-card:hover{
background: var(--blurbg);
}
.power-card h3{
font-size: 22px;
font-weight: 600;
letter-spacing: 0.1px;
text-align: left;
margin-top: 1rem;
color: #f92a71;
margin-bottom: 8px;
}
.power-card p{
font-size: 16px;
font-weight: 400;
letter-spacing: 0.1px;
text-align: left;
margin-top: 0rem;
color: var(--blurtext);
line-height:28px;
}
.power-card button{
padding: 0;
background: transparent;
color: var(--text);
text-decoration: underline;
border: none;
}

@media(min-width:768px){
.power-card{
margin-top: 1.5rem;
margin-left: 1rem;
margin-right: 1rem;
width: 45%;
}			
}


